header {
  background: white;
  height: 80px;
}

header > nav > ul {
  display: flex;
}

/* main-image */
.main-image > img {
  width: 100%;
  margin-bottom: -2px;
}


/* service */
.blue-linebox {
  background-color: rgb(51,189,209);
  background-image: repeating-linear-gradient(45deg,rgb(49,182,198), rgb(49,182,198) 3px,transparent 0, transparent 6px);
  padding: 100px 0;
}

.box {
  width: 85%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.content-title {
  text-align: left;
  margin: 0 auto;
  width: 85%;
  padding: 20px 0;
  font-size: 50px;
}

.content-title-info {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  color: rgb(0,0,0);
  padding: 20px 0;
  font-size: 50px;
}

.service-content, .customer-voice-content {
  text-align: center;
  word-wrap: break-word;
}

.service-content img {
  width: 330px;
  height: 330px;
}

.service-content > p {
  color: white;
  margin: 40px 0;
}

.service-content p:nth-of-type(1) {
  font-weight: bold;
}

.service-content p:nth-of-type(2) {
  text-align: left;
  line-height: 1.5;
}

.container {
  width: 330px;
}

/* お客様の声 */

.white-linebox {
  background: white;
  padding: 100px 0;
}

/* お問い合わせ */

.gray-linebox {
  background: gray;
  padding: 100px 0;
}

.contact-box {
  width: 70%;
  margin: 40px auto;
  background: gray;
  margin-bottom: 20px;
}

.contact-box > label > input {
  height: 30px;
  width: 100%;
  margin-top: 5px;
}

.contact-box > textarea {
  margin-top: 5px;
  width: 100%;
}


/* ボタン */
.button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;

  height: 30px;
  width: 100px;
  border:1px solid #38aef0;
  color: #38aef0;
  border-radius: 20px;
}

.button:hover {
  transition: 0.5s;
  outline: none;
  background-color: #38aef0;
  color: white;
}

.button:active {
  transition: 0s;
  box-shadow: none;
  background-color: white;
  color: #38aef0;
}


/* ぼやっとした線消す */
.button:focus {
	outline:0;
}


/* footer */
footer {
  width: 100%;
  height: 80px;
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
}

footer p {
  text-align: center;
}

/* color */

.white {
  color: white;
}

.skyblue {
  color: #38aef0;
}
