/* ヘッダー部分 */
header {
  background: rgb(255,255,255);
  height: 100%;
}

.header-container {
  display: flex;
  border-bottom: 5px solid rgb(164,25,25);
}

.header-container > img {
  width: 250px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: 30px;
}

.nav-list > li {
  margin: 0 10px;
}

.nav-list > li > a {
  text-decoration: none;
  color: rgb(113,113,113);
  padding: 100% 0;
}

.nav-list > li > a:hover {
  color: rgb(56,174,240);
}

.nav-list-responsive {
  display: none;
}

/* main-image部分 */

.main-image {
  background-image: url("images/kyuhun3.jpg")
}

.main-image img {
  width: 100%;
  margin-bottom: -2px;
}

/* サービス一覧部分 */
.blue-line-wrapper {
  background-color: rgb(51,189,209);
  background-image: repeating-linear-gradient(45deg,rgb(49,182,198), rgb(49,182,198) 3px,transparent 0, transparent 6px);
  padding: 100px 0;
}

.box {
  width: 85%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.content-title {
  text-align: left;
  margin: 0 auto;
  width: 85%;
  padding: 20px 0;
  font-size: 50px;
}

.content-title-info {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  font-size: 50px;
}

.service-content {
  text-align: center;
  word-wrap: break-word;
}

.service-content img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.service-content img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.service-content > p {
  color: rgb(255,255,255);
  margin: 40px 0;
}

.service-content p:nth-of-type(1) {
  font-weight: bold;
}

.service-content p:nth-of-type(2) {
  text-align: left;
  line-height: 1.5;
}

.container {
  width: 330px;
}

/* お客様の声部分 */
.wrapper {
  margin: 0px auto;
  padding: 100px 0;
}

.customer-voice {
  height: 30px;
  background: rgb(244,130,34);
  display: flex;/* ↓上下中央寄せ */
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
  font-weight: bold;
}

.customer-voice + img {
  width: 50%;
  height: auto;
  margin-top: 20px;
  border-radius: 50%;
  display: block;
  margin: 30px auto;
}

.customer-content {
  border: 3px solid rgb(244,130,34);
}

.customer-content > p:nth-of-type(1) {
  text-align: center;
  color: black;
}

.customer-content > p {
  margin: 30px;
  color: rgb(113,113,113);
  line-height: 1.5;
}

/* お問い合わせ部分 */
.contact-content, .content-title-info + form {
  width: 70%;
  margin: 40px auto;
}

.contact-content > label > input {
  height: 30px;
  width: 100%;
  margin-top: 5px;
}

.contact-content > textarea {
  margin-top: 5px;
  width: 100%;
  border: 1px solid rgb(213,213,213);
}

/* 送信ボタン部分 */
.button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 40px;
  width: 200px;
  border:1px solid rgb(56,174,240);
  color: rgb(56,174,240);
  border-radius: 20px;
  outline:0;
}

.button:hover {
  transition: 0.5s;
  outline: none;
  background-color: rgb(56,174,240);
  color: rgb(255,255,255);
}

.button:active {
  transition: 0s;
  box-shadow: none;
  background-color: rgb(255,255,255);
  color: rgb(56,174,240);
}

/* footer部分 */
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(31,31,31);
  color: rgb(255,255,255);
}

.footer-logo {
  text-align: center;
  padding-top: 30px;
}

.footer-logo > img {
  width: 200px;
  height: 40px;
  cursor: pointer;
}

/* color一覧 */
.white {
  color: rgb(255,255,255);
}

.skyblue {
  color: rgb(56,174,240);
}

.orange {
  color: rgb(244,130,34)
}

.gray-b {
  background: rgb(242,242,242);
}
