/* ヘッダー部分 */
header {
  background: white;
  height: 100%;
}

.test2 {
  display: flex;
}

.test2 > img {
  width: 250px;
  height: 50px;
  margin: 10px;
}

.list02 {
display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;
margin-left: auto;
margin-right: 30px;
}

.list02 > li {
  margin: 0 10px;
}

.list02 > li > a {
  text-decoration: none;
  color: rgb(113,113,113);
  padding: 100% 0;
}

.list02 > li > a:hover {
  color: #38aef0;
}



/* main-image部分 */
.main-image img {
  width: 100%;
  margin-bottom: -2px;
}

/* .main-image > img:hover {
  opacity: 0;
  transition: 0.9s;
} */



/* サービス一覧部分 */
.blue-linebox {
  background-color: rgb(51,189,209);
  background-image: repeating-linear-gradient(45deg,rgb(49,182,198), rgb(49,182,198) 3px,transparent 0, transparent 6px);
  padding: 100px 0;
  /* overflow: scroll; /* はみ出た部分をスクロールで表示 */
}

.box {
  width: 85%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.content-title {
  text-align: left;
  margin: 0 auto;
  width: 85%;
  padding: 20px 0;
  font-size: 50px;
}


.content-title-info {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding: 20px 0;
  font-size: 50px;
}

.service-content, .customer-voice-content {
  text-align: center;
  word-wrap: break-word;
}

.service-content img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.service-content img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.service-content > p {
  color: white;
  margin: 40px 0;
}

.service-content p:nth-of-type(1) {
  font-weight: bold;
}

.service-content p:nth-of-type(2) {
  text-align: left;
  line-height: 1.5;
}

.container {
  width: 330px;
}

/* サービス一覧のボタン */
.black-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 30px;
  width: 100px;
  border:1px solid #38aef0;
  color: #38aef0;
}

.black-button:hover {
  transition: 0.5s;
  outline: none;
  background-color: #38aef0;
  color: white;
}

.black-button:active {
  transition: 0s;
  box-shadow: none;
  background-color: white;
  color: #38aef0;
}

.test {
  display: flex;
}



/* お客様の声部分 */

.white-linebox {
  background: white;
  padding: 100px 0;
}

.customer-voice {
  height: 30px;
  background: rgb(244,130,34);
  display: flex;/* ↓上下中央寄せ */
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.customer-voice + img {
  width: 50%;
  height: auto;
  margin-top: 20px;
  border-radius: 50%;
  display: block;
  margin: 30px auto;
}

.test3 {
  border: 3px solid rgb(244,130,34);
}

.test3 > p:nth-of-type(1) {
  text-align: center;
  color: black;
}

.test3 > p {
  margin: 30px;
  color: rgb(113,113,113);
  line-height: 1.5;
}


/* お問い合わせ部分 */
.gray-linebox {
  background: #F2F2F2;
  padding: 100px 0;
}

.contact-box {
  width: 70%;
  margin: 40px auto;
  margin-bottom: 20px;
}

.contact-box > label > input {
  height: 30px;
  width: 100%;
  margin-top: 5px;
}

.contact-box > textarea {
  margin-top: 5px;
  width: 100%;
  border: 1px solid rgb(213,213,213);
}


/* 送信ボタン部分 */
.blue-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;

  height: 40px;
  width: 200px;
  border:1px solid #38aef0;
  color: #38aef0;
  border-radius: 20px;
  outline:0;
}

.blue-button:hover {
  transition: 0.5s;
  outline: none;
  background-color: #38aef0;
  color: white;
}

.blue-button:active {
  transition: 0s;
  box-shadow: none;
  background-color: white;
  color: #38aef0;
}


/* footer部分 */
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(31,31,31);
  color: rgb(255,255,255);
}

footer > h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  font-family: monospace;
}

.logo {
  text-align: center;
  padding-top: 30px;
}

.logo > img {
  width: 200px;
  height: 40px;
}


/* color */

.white {
  color: white;
}

.skyblue {
  color: #38aef0;
}
